# ===== POSTGRESQL =====
POSTGRES_USER=analytics
POSTGRES_PASSWORD=change_me
POSTGRES_DB=analytics_db

# ===== METABASE =====
METABASE_DB_NAME=metabase_db
METABASE_DB_USER=metabase
METABASE_DB_PASSWORD=change_me

# ===== CLICKHOUSE =====
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=change_me

# ===== SUPERSET =====
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=change_me
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_ADMIN_FIRSTNAME=Admin
SUPERSET_ADMIN_LASTNAME=User
SUPERSET_SECRET_KEY=change_me_random

# ===== MINIO =====
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me

# ===== QDRANT =====
QDRANT_API_KEY=change_me

# ===== GRAFANA =====
GRAFANA_ADMIN_PASSWORD=change_me

# ===== MONGO =====
MONGO_USER=admin
MONGO_PASSWORD=change_me
